# Database files
*.sqlite
*.sqlite3
*.db
*.db-journal

# Private Folders/Files

*venv
__pycache__
*cache
.cache
.pytest_cache
*venv
influx_env
virtual*

# special files
dz.py
.vscode
.env
nexora/
clean_envs.ps1
NEXT_ROADMAP
.influxdb_token
null

# Logs
logs/**/*.log
!logs/**/.gitkeep
