SQLAlchemy==2.0.43
psycopg2-binary==2.9.11
requests==2.32.5
python-dotenv==1.1.1
pydantic==2.11.7
influxdb-client==1.50.0

grpcio==1.78.0
grpcio-tools==1.78.0
grpcio-health-checking==1.78.0
grpcio-reflection==1.78.0
protobuf==6.33.1

nexora-db==0.2.8